@import 'vars';

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: $color1;
  margin: 0;
  box-sizing: border-box;

  #root{
    height: 100%;
  }

  a {
    color: $color7
  }
}
